*{
    margin: 0px;
    padding: 0px;
}
.banner-text{
   width: 500px;
   

}
.banner-tittle{
    font-size: 45px;

}
.banner-des{
    font-size: 20px;
}
.banner{
    background-image: url('../images/banner1.png');
   background-size: cover;
   height: 650px;
   display: flex;
   justify-content: end;
   align-items: center;

}
.main-part{
    display: flex;
    justify-content: space-around;
    background-color: rgb(178, 209, 209);
    padding: 30px 30px;
    

}
.plans{
    text-align: center;
    font-size: 60px;
    
}
.skill-tittle{
    font-size: 40px;
}
.skill-description{
    font-size: 30px;
}

/*second-part*/

.second-part{
    text-align: center;
    justify-content: space-between;
    background-color: rgb(198, 204, 204);
}
.sec{
    font-size: 40px;
}
.pe{
    font-size: 20px;
}
.second-part{
    display: flex;
    align-items: center;
    }

    .next-h{
        font-size: 40px;
    
    }
    .plans{
        text-decoration: underline;
    }

.back-photo{
    background-image: url('../images/watch.png');
    background-size: cover;
    height: 400px;
    display: flex;
 

}

.middle-text{
    padding-left: 180px;
    padding-top: 180px;
    font-size: 40px;
    color: rgb(246, 253, 249);
    font-family: Work Sans;
    border-radius: 8px;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);

}
.call{
    font-size: 25px;
    border-radius: 20px 10px;
    box-shadow: 1px 2px  rgb(37, 39, 38);
    padding: 15px 30px;
    background-color: rgb(121, 122, 129);

}
.btn{
    font-size: 15px;
    padding: 10px 10px;
    color: red;
}